<%= form_for do |form| %>
    <p>
    <%= form.label :Product_name %><br>
    <%= form.text_field :name, placeholder: "Enter Product Name" %>
    </p>

    
    <%= form.button "Create Product"%>
    </p>
<% end %>